<div class="row viewBackground" ng-init="viewEmployee();">
	<div class="panel-body">
		<div class="row varspace">
			<div class="col-lg-3 col-md-3 col-sm-3">
				<label>Filter </label>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3">
				<span class="radio-inline">
					<input type="radio" id="dateWise" class="form-control" name="searchType" i-check ng-model="filter.searchType" value="byDate" ng-change="refreshData();" />
					<label for="dateWise">By Date</label>
				</span>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3">
				<span class="radio-inline">
					<input type="radio" id="Employee" class="form-control" name="searchType" i-check ng-model="filter.searchType" value="byEmp" ng-change="refreshData();" />
					<label for="Employee">By Employee</label>
				</span>
			</div>
		</div>
		<form method="post" class="searchAttendanceForm" role="form" data-parsley-validate>
			<div class="row varspace">
				<div class="col-lg-3 col-md-3 col-sm-3" >

				</div>
				<div class="col-lg-3 col-md-3 col-sm-3" ng-show="filter.searchType=='byEmp'">
					<select class="form-control" ng-model="filter.emp_id" ng-change="attendance.showOT();">
						<option value="" selected disabled class="hide">Select employee</option>
						<option ng-repeat="emp in employeeList" value="{{emp.emp_id}}">{{emp.full_name}}{{emp.father_name ? '-'+emp.father_name : ''}}</option>
					</select>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2">
					<input type="text" id="fromDate" class="form-control custom-only-datepicker" autocomplete="off" placeholder="From Date" ng-model="filter.from_date"  data-parsley-required />
					<ul ng-if="error" class="parsley-errors-list filled"><li class="parsley-required" ng-bind="error"></li></ul>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2">
						<input type="text" id="toDate" class="form-control  custom-only-datepicker" autocomplete="off" placeholder="To Date" ng-model="filter.to_date"  data-parsley-required />
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3" ng-show="filter.searchType!='byEmp'">
				
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1">
					<button type="submit"  class="btn btn-primary pull-right" ng-click="attendance.showOT();">Search</button>
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1" >
					<button type="submit"  class="btn btn-primary pull-right" title="Add Attendance" data-placement="bottom" tooltip ng-click="openPopup('new', 'addOT', 600);">
						Add New
					</button>
				</div>
			</div>
		</form>

		<div class="table-responsive tableDivHeight">
			<table id="attendanceTable" class="table table-striped table-bordered table-condensed table-theme">
				<thead>
					<tr>
						<th>Name</th>
						<th>District</th>
						<th>Mobile</th>
						<th>Status</th>
						<th>Remark</th>
						<th>Created Date</th>
						<th>Created By</th>
						<th>Role</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-if="surveyRecord.length" ng-repeat="surveyRec in surveyRecord">
						<td class="word-wrap">{{surveyRec.full_name}}</td>
						<td class="word-wrap">{{surveyRec.district}}</td>
						<td>{{surveyRec.mobile}}</td>
						<td>{{surveyRec.survey_status}}</td>
						<td>{{surveyRec.survey_remark}}</td>
						<td>{{surveyRec.created_at}}</td>
						<td>{{surveyRec.employee_name}}</td>
						<td>{{surveyRec.postion_type}}</td>
					</tr>
					<tr ng-if="!surveyRecord.length">
						<td colspan="8">No Records Found</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script type="text/ng-template" id="addOT">
	<div class="ngdialog-message">
		<div class="row ngDialogTitle">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<h4>Add OT</h4>
			</div>
		</div>
		<div class="row ngDialogContent">
			<form class="addAttendanceForm" method="post" role="form" data-parsley-validate>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 popupHeight">
						<div class="row varspace">
							<div class="col-lg-4 col-md-4 col-sm-4">Full Name</div>
							<div class="col-lg-8 col-md-8 col-sm-8">
								<select class="form-control" ng-model="attFormObj.emp_code">
									<option value="" selected disabled class="hide">Select employee</option>
									<option ng-repeat="emp in employeeList" value="{{emp.employee_code}}">{{emp.full_name}}{{emp.father_name ? '-'+emp.father_name : ''}}</option>
								</select>
							</div>
						</div>
						<div class="row varspace">
							<div class="col-lg-2 col-md-2 col-sm-2">From -</div>
							<div class="col-lg-2 col-md-2 col-sm-2">Date</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<input type="text" class="form-control custom-only-datepicker" data-parsley-required  ng-model="attFormObj.from_date" >
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2">Time</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<input type="text" class="form-control custom-timepicker" data-parsley-required  ng-model="attFormObj.from_time" >
							</div>
						</div>
						<div class="row varspace">
							<div class="col-lg-2 col-md-2 col-sm-2">To -</div>
							<div class="col-lg-2 col-md-2 col-sm-2">Date</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<input type="text" class="form-control custom-only-datepicker" data-parsley-required  ng-model="attFormObj.to_date" >
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2">Time</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<input type="text" class="form-control custom-timepicker" data-parsley-required  ng-model="attFormObj.to_time" >
							</div>
						</div>
						<div class="row varspace">
							<div class="col-lg-4 col-md-4 col-sm-4">Remarks</div>
							<div class="col-lg-8 col-md-8 col-sm-8">
								<textarea class="form-control" ng-model="attFormObj.remarks"></textarea>
							</div>
						</div>
					</div>
				</div>
			</form>
			<div class="ngdialog-buttons row center-block" style="margin-bottom: 15px; margin-right: 9px;">
				<button type="submit" class="ngdialog-button btn btn-primary" ng-click="attendance.addOT();">Save</button>
			</div>
		</div>
	</div>
</script>
